<!DOCTYPE html>

<html>
    <!-- Head -->
    <%- include('partials/head', {title: 'Ingreso de usuario'}) %>

    <body>
    
    <!-- Header -->
    
        
    <!-- Formulario de registro -->
    
    <div class="container">
        
        <a href="/"><img src="/img/isologotipo.ico"  style="width:100px ;"></a>

        <form action="/usuario/ingreso" method="POST">
            
            <h2>Ingresa</h2>
          
            <div class="container">

                <div class="row mb-3 g-2">
                    <div class="col-6">  
                        <label for="emailLogin" class="form-label"> Email </label>
                        <input 
                            type="email"
                            class="form-control <%= locals.errors && errors.emailUsuario ? 'is-invalid': null%>"
                            id="emailLogin"
                            name="emailLogin"
                            value="<%= locals.oldData ? oldData.emailLogin : null %>">
                            <%if (locals.errors && errors.emailLogin) {%>
                                <div class="text-danger">
                                    <%= errors.emailLogin.msg%>
                                </div>
                            <% } %>
                    </div>
                </div>

                <div class="row mb-3 g-2">
                    <div class="col-6">  
                        <label for="claveLogin" class="form-label"> Contraseña </label>
                        <input 
                            type="password" 
                            class="form-control <%= locals.errors && errors.claveLogin ? 'is-invalid': null%>"
                            id="claveLogin"
                            name="claveLogin">
                            <%if (locals.errors && errors.claveLogin) {%>
                                <div class="text-danger">
                                    <%= errors.claveLogin.msg%>
                                </div>
                            <% } %>
                    </div>
                </div>

                <div class="row mb-3 g-2">
                    <div class="col-6"> 
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input 
                            type="checkbox" 
                            class="form-check-input" 
                            name="recordame"> Recordarme
                        </label>
                    </div>
                    </div>
                </div>

                <div class="row mb-3 g-2">
                    <div class="col-6">  
                        <button type="submit" class="btn btn-primary"> Login </button>
                    </div>
                </div>  
            
            </div>

        </form>

    </div>
    
    </body>
    
</html>