<!DOCTYPE html>

<html>
    
    <head>
        <%- include('partials/head', {title: 'Inicio'}) %>
        <!-- CSS Inex -->
        <link rel="stylesheet" href="/css/tienda.css">
    </head>
   
    <body>

	    <%- include('./partials/header') %>

        <div class="banner">
            <div class="h1 d-flex justify-content-center align-items-center text-white">
                <p>TIENDA</p>
            </div>
        </div>

        <div class="container contenedor-productos">
            <div class="row">
                <div class="col-12">
                    <p class="h2">Productos orientados al cuidado de tu perro</h2>
                </div>
                <!-- Show the "visited" products -->
                <% for(let producto of productos) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="producto">
                        <a href="/tienda/detalle/<%=producto.id %>" >
                            <img src="/img/tiendaProductos/<%=producto.imagen %>" alt="imagen de producto">
                            <article class="infoProducto">
                                <h2>$<%=producto.precio %></h2>
                                <span><%=producto.descuento %>% OFF</span>
                                <p><%=producto.nombre %></p>
                                <p><%=producto.categoria %></p>
                            </article>
                        </a>
                    </section>
                    
                </div>
                <% } %>
            </div>
        </div>

        <div class="container-fluid">
        <div class="row row justify-content-end text-center">
            <div class="col-12">
                <button type="button" class="btn btn-link btn-outline-dark"> <a href="/tienda/crear"> Crear nuevo producto </a> </button>
            </div>
        </div>
        </div>
        
	    <%- include('./partials/footer') %>

    </body>
</html>