<!DOCTYPE html>

<html>
    
    <%- include('partials/head', {title: 'Crear producto'}) %>

    <body>
    
    <%/*- include('./partials/header')*/ %> 
    <div class="container-fluid">
        <div class="row p-5 bg-dark text-white">
            <div class="col-xs-12 col-md-2 col-sm-2">
                <img src="/img/isologotipoConSlogan.png" alt="" class="img-fluid mb-3">
            </div>
    <!-- Formulario de creación de productos de la tienda de DogHouse -->
     
    <div class="container-fluid m-5 mb-6">
            
            <div class="row m-2 justify-content-md-center">

                <div class="col-12">
                    <h3> Formulario de creación de productos para la tienda Doghouse </h3>
                </div>

                <div class="col-12 m-4">
                <form action="/tienda/editar/<%=productEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <label for="name" class="form-label"> Nombre del producto:</label>
                            <input type="text" id="name" name="nombre" placeholder="Sticks de cerdo" class="form-input">
                        </div>
                        <div class="col-12">
                            <label for="price" class="form-label"> Precio del producto:</label>
                            <input type="number" id="price" name="precio" class="form-input">
                        </div>
                        <div class="col-12">
                            <label for="discount" class="form-label"> Descuento:</label>
                            <input type="number" id="discount" name="descuento" placeholder="5" class="form-input">
                        </div>
                        <div class="col-12">
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="categoria" id="categoriaID" class="form-input">
                                <option value="">Selecciona</option>
                                <% for (let categoria of categorias) { %>
                                    <option value="<%=categoria.id %>"><%=categoria.nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="imagenProductoEditar" class="form-label"> Seleccionar imagen:</label>
                            <input type="file" name="imagenProductoEditar">
                        </div>
                        <div class="col-12">
                            <label for="descripcion" class="form-label"> Descripción:</label>
                            <textarea name="descripcion" id="descripcion" class="form-input"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="buy-now-button"> Guardar producto</button>
                        </div>
                    </div>
                </form>
            </div>

            </div>
        </div>   

    <!-- Footer -->
	<div>
    <%- include('./partials/footer') %>
    </div>
    
    </body>

</html>