<!DOCTYPE html>

<html>
    
    <head>
        <link rel="stylesheet" href="/css/tienda.css">
        <%- include('partials/head', {title: 'Tienda'}) %>
        
        <!-- CSS Inex -->
        
    </head>
   
    <body>

	    <%- include('./partials/header') %>

        <div class="banner">
            <div class="h1 d-flex justify-content-center align-items-center text-white">
                <p>TIENDA</p>
            </div>
        </div>

        <head>
            <link rel="stylesheet" href="/css/tienda.css">
            <%- include('partials/head', {title: 'tienda'}) %>
                                   
       
        
       

        <div class="container contenedor-productos">
            <div class="row">
                <div class="col-12">
                    <p class="h2">Mucho más que comida sana para tu mascota</h2>
                        <p class="h5">Descubre todo lo que DogHouse tiene para ofrecerte</p>
                                               
                </div>
                <!-- Show the "visited" products -->
                <% for(let producto of productos) { %>
                <div class="col-12 col-sm-6 col-lg-4">
                    <section class="producto">
                        <a href="/tienda/detalle/<%=producto.id %>" >
                            <img src="/img/tiendaProductos/<%=producto.imagen %>" class="img-fluid" alt="imagen de producto">
                            <article class="infoProducto">
                                <h2>$<%=producto.precio %></h2>
                            <article class="Descuento">
                                <span><%=producto.descuento %>% OFF</span>
                            </article>
                                <p><%=producto.nombre %></p>
                                <p><%=producto.categoria %></p>
                            </article>
                        </a>
                    </section>
                    
                </div>
                <% } %>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row row justify-content-end text-center">
                
            </div>
        </div>
        
	    <%- include('./partials/footer') %>

    </body>
</html>