<!DOCTYPE html>

<html>
    
    <head>
        <link rel="stylesheet" href="/css/tienda.css">
        <%- include('partials/head', {title: 'Tienda'}) %>
        
        <!-- CSS Inex -->
        
    </head>
   
    <body>

	    <%- include('./partials/header') %>

        <div class="banner">
            <div class="h1 d-flex justify-content-center align-items-center text-white">
                <p>TIENDA</p>
            </div>
        </div>

        <!-- Tienda en construcción
        <div class="container">
            <div class="row">
                <p class="h2">Productos orientados al cuidado de tu perro</p>
            </div>
        </div>

        

        <div class="row">
            <% for(let producto of productos) { %>
            <div class="col-md-3">
                <div class="product-box">
                    <div class="product-inner-box position-relative">
                        <div class="icons position-absolute">
                            <a href="" class="text-decoration-none text-dark"><i class="fas fa-heart"></i></a>
                            <a href="" class="text-decoration-none text-dark"><i class="fas fa-eye"></i></a>
                        </div>
                        <div class="onsale position-absolute top-0 start-0">
                            <span class="badge rouned-0"><%=producto.descuento %></span>
                        </div>
                        <img src="/img/tiendaProductos/<%=producto.imagen %>" alt="imagen de producto">
                        <div class="cart-btn">
                            <div class="btn btn-white shadow-sm rounded-pill"><i class="bi bi-cart-fill"></i> Añadir al carrito</div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <p class="h3"><%=producto.nombre %></p>
                        </div>
                        <div class="product-price">
                            <span>$<%=producto.precio %></span>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        -->



        <div class="container contenedor-productos">
            <div class="row">
                <div class="col-12">
                    <p class="h2">Productos orientados al cuidado de tu perro</h2>
                </div>
                <!-- Show the "visited" products -->
                <% for(let producto of productos) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="producto">
                        <a href="/tienda/detalle/<%=producto.id %>" >
                            <img src="/img/tiendaProductos/<%=producto.imagen %>" class="img-fluid" alt="imagen de producto">
                            <article class="infoProducto">
                                <h2>$<%=producto.precio %></h2>
                                <span><%=producto.descuento %>% OFF</span>
                                <p><%=producto.nombre %></p>
                                <p><%=producto.categoria %></p>
                            </article>
                        </a>
                    </section>
                    
                </div>
                <% } %>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row row justify-content-end text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-link btn-outline-dark"> <a href="/tienda/crear"> Crear nuevo producto </a> </button>
                </div>
            </div>
        </div>
        
	    <%- include('./partials/footer') %>

    </body>
</html>