<!DOCTYPE html>

<html>
    <!-- Include Head -->
    <%- include('partials/head', {title: productoDetalle.nombre}) %>

<body>

    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Detalle producto tienda DogHouse -->
	<div class="container-fluid">

		<div class="row">
			<div class="col-12">
				<h2> Detalle del producto: <%= productoDetalle.nombre %> </h2>
			</div>
		</div>

		<div>
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/img/tiendaProductos/<%=productoDetalle.imagen%>" alt="Imagen de producto"> 
					<p> <%= productoDetalle.descripcion %> </p>
				</div>
				<div class="col-12 col-lg-4">
					<article>
						<h2><%= productoDetalle.nombre %></h2>
						
							<p>
								<span>$<%= productoDetalle.precio %></span>
								/
								<b> <%= productoDetalle.descuento %> % OFF</b>
							</p>
							<p>
								$<%=(productoDetalle.precio - (productoDetalle.precio * productoDetalle.descuento)/100) %> 
							</p>


						<ul>
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button"> COMPRAR AHORA </a>
						<hr>

						<a href="/tienda/editar/<%= productoDetalle.id %>"> EDITAR PRODUCTO </a>
						<form action="/tienda/eliminar/<%= productoDetalle.id %>?_method=DELETE" method="POST">
							<button type="submit"> ELIMINAR </button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /Detalle producto tienda DogHouse -->

     <!-- Footer -->
    <%- include('./partials/footer') %>

</body>

</html>

 